<footer class="bg-green-800 text-white py-8">
    <div class="container mx-auto text-center">
      <p class="text-lg mb-4">© 2025 Kepong Villa Garden and Suites. All Rights Reserved.</p>
      <div class="flex justify-center space-x-6 mb-4">
        <a href="https://x.com/kepongvilla" class="hover:text-yellow-400">X</a>
        <a href="https://facebook.com/kepongvilla" class="hover:text-yellow-400">Facebook</a>
        <a href="https://instagram.com/kepongvilla" class="hover:text-yellow-400">Instagram</a>
      </div>
      <a href="./contact.html" class="text-yellow-400 hover:underline">Contact Us: odogwucally@gmail.com</a>
      <p class="footer-credit">Site Design by Elodi Nigeria Enterprises</p>
    </div>
  </footer>